*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
 body{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    /* background: seagreen; */
    /* background-image: url("./imgsss/istockphoto-1297418452-612x612.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-position: center;
 }
 .wrapper{
    width: 420px;
   
    
    border: 2px solid rgba(225, 225, 225,0.5);
    background-color: rgb(194, 205, 223);
    display: flex;
    backdrop-filter: blur (55px);
   border-radius: 20px;
   border-top-left-radius: 100px;
   border-bottom-right-radius: 100px;
   margin-bottom: -10%;
 }
 .wrapper{
   font-size: 36px;
   text-align: center;
 }
 


 #login{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .bnt{
   

  appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}




.bnt:hover {
  background-color: #172342;
  border-color: #ee0f0f;
}



.aa{
   margin: 2px;
   font-size: 20px;
   display: grid;
}
 .zz{
  color: #000000;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
 #ty{
  margin-top: -50%;
  color: #ffffff;
  font-family:serif;
  position: absolute;
 text-transform: capitalize;
  font-size: 40px;
  text-align: center;
  background-color: rgb(33, 143, 143);
  padding: 20px;
  padding-left: 50%;
  padding-right: 50%;
  padding-top: 10%;
 }
 .input{
 
  border-radius: 50px ;
  border-color: #f0f2f9;
  
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    margin: 20px;
  }
  
  
  .input:hover {
    border-color: #999;
  }
  
 
  .input:focus {
    border-color: #66afe9; 
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }
  


 .logo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to right, #2aa5ec, #10d2d2);
  background-clip: text;
  color: transparent;
  animation: color-change 5s infinite alternate;
  
}
@keyframes color-change {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
#img{
  width: 200px;
}



